<!DOCTYPE html>
<head>
	<title>
		pdfGenerate
	</title>
	<style type="text/css">
		label{
			float: right;
			position: relative;
			font-family: monospace;
			font-size: 18px;
		}
		h1{
			top:40px;
			text-align: center;
			position: relative;
			/*left: 100px;*/
			font-family: cursive;
			background: orange;
			padding: 30px;
			font-size:40px;
			width: 
		}
		.section{
			left: 132px;
            top:35px;
            position: relative;
            font-size: 40px;
		}
	</style>
</head>
<body>
	    <label>STASS BOOKING SERVICE</label>
		<h1>   PATIENT'S BOOKING INFORMATION</h1>
		<div class="section">
		<br>Ticket ID:....................... {{Id}}<br><br>
		Doctors name:.......................  {{Doname}}<br><br>
		Specialization:...................... {{specialization}}<br><br>
        Patient's Name:...................... {{patientN}}<br><br>
        Patient's Mobile No.:................ {{patientM}}<br><br>
	    </div>
</body>
</html>